<div id="profile-header">
		<div id="links">
		<a href="#"><i class="fa-brands fa-github fa-xl" style="color: #0f0f10;"></i></a> 
		<a href="#"><i class="fa-brands fa-linkedin fa-xl" style="color: #3772d7;"></i></a> 
		<a href="#"><i class="fa-solid fa-at fa-xl" style="color: #000000;"></i></a>
		</div>
<div id="profile-card">
	 
		<img src="{{ asset('uploads/userPic/'~ user.image) }}" alt="profile picture">
	  
		<div id="profile-name">{{user}}</div>
		<div>Session : {{user.sessionSD |  date("M j,Y")}} - {{user.sessionED |  date("M j,Y")}} </div>
</div>
 
<div id="btn-profile"><button class="btn-follow" type="button">follow</button></div>
</div>
{# <div><button class="btn-follow" type="button">follow</button></div>
</div> #}
			<div >
				<div >{{user.posts.count}}</div>
				<div >posts</div>
			</div>
	{# <span><i class="fa-regular fa-image" style="color: #5f88ce;"></i><a href="{{ path('app_profile_edit') }}">edit</a></span>

 </span>

	<div class="profile-card-cnt js-profile-cnt">
		

		<div class="profile-card-info">
			<div class="<div class="profile-card-txt">{{user.bio}}</div>
		<div class="profile-card-loc">
			<span class="profile-card-city">
				{{user.city}}, France
			</span>
		</div>profile-card-inf-item">
				<div class="profile-card-inf__title">{{user.followers.count}}</div>
				<div class="profile-card-inf__txt">Followers</div>
			</div>

			<div class="profile-card-inf-item">
				<div class="profile-card-inf__title">{{user.follows.count}}</div>
				<div class="profile-card-inf__txt">Following</div>
			</div>



		</div>


	</div>
</div> #}
