 <div id="profile-card">
  <div class="frame">
    <img src="{{ asset('uploads/userPic/' ~ user.image) }}" alt="profile picture" />
  </div>
  <div id="profile-name">
    <span>{{ user }}</span>
    <span class="session">Session : {{ user.sessionSD|date('M j,Y') }} - {{ user.sessionED|date('M j,Y') }}</span>
    <span>{{ user.city }}</span>
  </div>

  <div class="header-btn">
    <div class="btn-follow">
      <a href="{{ path('app_message_send', { id: user.id }) }}">Chat</a>
    </div>
    {% if user != app.user %}
    {% if user in app.user.getFollows() %}
      <div class="btn-follow">
        <a href="{{ path('app_unfollow', { id: user.id }) }}">Unfollow</a>
      </div>
    {% else %}
      <div class="btn-follow">
        <a href="{{ path('app_follow', { id: user.id }) }}">Follow</a>
      </div>
    {% endif %}
    {% endif %}
  </div>
  <div class="infos">
  <div class="links">
    <div class="frame-btn">
      <a href="{{user.github}}" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
    </div>
    <div class="frame-btn">
      <a href="{{user.linkedin}}" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
    </div>
    <div class="frame-btn">
      <a href="#"><i class="fa-solid fa-at fa-xl"></i></a>
    </div>
  </div>
     <div class="stats">
   <div><a href="{{path('app_profile',{user:user.id})}}" >Posts</a><span>{{user.posts.count}}</span></div>
   <div><a href="{{path('app_profile_follow',{user:user.id})}}">Follows</a> <span>{{user.follows.count}}</span></div>
   <div><a href="{{path('app_profile_follower',{user:user.id})}}">Followers </a><span>{{user.followers.count}}</span></div>
    </div>
    </div>

  {% if app.user == user %}
    <div class="settings">
      <a href="{{ path('app_profile_edite') }}">Settings</a>
</div>
{# dark mode btn#}
<div id="mode">

 <a href="{{path("app_profile_mode")}}">
{% if app.user.isDarkMode %}
<span class="material-icons">
light_mode
</span>
{% else %}
<span class="material-icons">
dark_mode
</span> 
{% endif %}
 

</a>
</div>
{# fin dark mode#}
    
  {% endif %}

  {# <div class="stats"><span>Posts : {{user.posts.count}}</span><span>Follow : {{user.follows.count}}</span><span>Followers : {{user.followers.count}}</span></div> #}
</div>

