{% extends 'base.html.twig' %}
{% block title %}Hello ProfileController!
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="page profile d'un utilisateur">
{% endblock %}
{% block body %}
<div class="home-main">	
<div class="side-left">
		{{ include('home/_side.html.twig') }}
	</div>
	
		
	<main>

{{ include("profile/_header.html.twig", [user]) }}
 
		{{ include("post/_allposts.html.twig", [posts])}}
	</main>
			<div class="side-right">
				{{ include('home/_side_right.html.twig') }}
			</div>
<div>

{% endblock %}

 




