{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
<div id="profile_container">
  <div class="asside_left">
		{{ include('home/_asside.html.twig') }}
  </div>
	<div class="wrapper">
		{{ include("profile/_header.html.twig", [user]) }}
		{{ include("post/_allposts.html.twig", [posts])}}
	</div>
  <div><a href="{{ path('app_profile_followers',{user:user.id})}}">followers</a></div><br>
  <div><a href="{{ path('app_profile_follows',{user:user.id})}}">follows</a></div>
</div 
{% endblock %}
