{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="navbar">
        <div class="logo"><img src="{{ asset('uploads/userPic/logo.png') }}">
        <div><span>ELAN</span><span style="color: #f49e0e;">FORMATION</span></div>
        </div>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <div class="menu">
            <a href="https://elan-formation.fr/accueil" target="_blank">Elan formation</a>
            <a href="#">About Us</a>
            <a href="{{path('app_register')}}">Register</a>
             
        </div>
    </div>
    <img src="{{ asset('uploads/userPic/welcome.png') }}" style="position: absolute; top:10px;min-width:100%">
   
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
     
<div class="login-card" id="card-login">
<div class="card-header">
   </div>
   <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>
    <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
</div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="form-group">
    <button class="post-button" type="submit">
        Sign in
    </button>
    </div>
    <div id="register-path">Don't have an account?<a href="{{path('app_register')}}"> Sign up now</a></div>
    </div>
</form>
{% endblock %}
