<nav>
    <div class="logo">
        <img src="{{asset('assets/images/logo.svg')}}" alt="Logo Image">
    </div>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li class="navhome"><a href="{{path('app_profile',{user:app.user.id})}}">my profile</a></li>

        <li class="navhome"><a href="{{path('app_post_add')}}"><i class="fa-solid fa-pen-nib" style="color: #e2e5e9;"></i>add post</a></li>
        {% if app.user %}
            
      
        <li class="navhome"><button class="login-button" href="{{path('app_logout')}}">Logout</button></li>
        {% else %}
        <li class="navhome"><button class="login-button" href="{{path('app_login')}}">Login </button></li>
      
        {% endif %}
        
    </ul>
</nav>

</body>

</html>