<div
	class="side-links">

	<a href="{{path('app_home')}}">
		<span class="material-icons">
			home
		</span>
		<span class="icon-title">home</span>
	</a>


	<a>
		<span class="material-icons">
			search
		</span>
		<span class="icon-title">Explore</span>
	</a>

	<a>
		<span class="material-icons">
			notifications
		</span>
		<span class="icon-title">Notification</span>
	</a>

	<a href="{{path('app_profile',{user:app.user.id})}}">
		<span class="material-icons">
			person
		</span>
		<span class="icon-title">Profile</span>
	</a>
	<a href="{{path('app_profile',{user:app.user.id})}}">
		<span class="material-icons">
			person
		</span>
		<span class="icon-title">followers</span>
	</a>
	<a href="{{path('app_profile',{user:app.user.id})}}">
		<span class="material-icons">
			person
		</span>
		<span class="icon-title">follow</span>
	</a>
 
	<a href="{{ path('app_logout') }}">
	<span class="material-icons">
logout
</span>
		<span class="icon-title">logout</span>
	</a>
	
  
</div>
