<div
	class="nav_links">
	{# <div class="menu">
						<span class="material-icons" id="menu-icon">
							menu
						</span>
					</div> #}

	<a href="{{path('app_home')}}">
		<span class="material-icons">
			home
		</span>
		<span class="icon_title">home</span>
	</a>


	<a>
		<span class="material-icons">
			search
		</span>
		<span class="icon_title">Explore</span>
	</a>

	<a>
		<span class="material-icons">
			notifications
		</span>
		<span class="icon_title">Notification</span>
	</a>

	<a href="{{path('app_profile',{user:app.user.id})}}">
		<span class="material-icons">
			person
		</span>
		<span class="icon_title">Profile</span>
	</a>
	<a href="{{path('app_profile',{user:app.user.id})}}">
		<span class="material-icons">
			person
		</span>
		<span class="icon_title">followers</span>
	</a>
	<a href="{{path('app_profile',{user:app.user.id})}}">
		<span class="material-icons">
			person
		</span>
		<span class="icon_title">follow</span>
	</a>
				<div class="menu-icon"><span class="material-icons">
chat
</span></div>
	<a href="{{ path('app_logout') }}">
	<span class="material-icons">
logout
</span>
		<span class="icon_title">logout</span>
	</a>
	
     x'gf
</div>
