<div class="side-links">
  <a href="{{ path('app_home') }}">
    <span class="material-icons">home</span>
    <span class="icon-title">Home</span>
  </a>

  <a>
    <span class="material-icons">search</span>
    <span class="icon-title">Explore</span>
  </a>

  <a href="{{path('app_notification')}}">
  <span class="notif">
    <span class="material-icons">notifications</span>
    {% if notification   %}
<span class="nbr-notif">{{ notification|length }}</span>      
 
    {% endif %}
 
    <span class="icon-title">Notification</span>
  </a>

  <a href="{{ path('app_myProfile')}}">
    <span class="material-icons">person</span>
    <span class="icon-title">My profile</span>
  </a>
  <a>
    <span class="material-icons"  >people_alt</span> <span class="icon-title" id="followers" onclick="toggle_div_fun('list-cachee');">Followers</span>
    <span  >
  
    </span>
  </a>
 
<a>
	<span class="material-icons" onclick="toggle_div_fun('list-cachee');">chat</span>
    <span class="icon-title" onclick="toggle_div_fun('list-cachee');">Chat</span>
	</a>

     
      {% set friends = [] %}
      
          {% if app.user.follows %}
              {% for friend in app.user.follows %}
                   {% set friends = friends|merge([friend]) %}
              {% endfor %}
          {% endif %}
          {% if app.user.followers %}
              {% for friend in app.user.followers %}
                    {% if friend not in friends %}
                       {% set friends = friends|merge([friend]) %}
                     {% endif %}
              {% endfor %}
          {% endif %}

        {% if friends %}
	<div id="list-cachee"> 
    {% for friend in friends %}
            <div> 
              <a href="{{path('app_message_send',{id:friend.id})}}">{{ friend }}</a>
			</div>
        {% endfor %}
        {% else %}
          <div id="list-cachee"> 
          <div>follow people to chat</div>
      {% endif %}
		<div>
      <span class="material-icons" onclick="toggle_div_fun('list-cachee');">close</span>
		</div>
	</div>
  
  <a href="{{ path('app_logout') }}">
    <span class="material-icons">logout</span>
    <span class="icon-title">Logout</span>
  </a>
</div>
