{% extends 'base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
      <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
     <div class="register-card">
        <h1>Welcome in our comunity</h1>
            {{ form_errors(registrationForm) }}
             {{ form_start(registrationForm) }}
       <div class="login-card">
        <div id="register-img">{{ form_widget(registrationForm.image, { label: true }) }}</div>
        <div>{{ form_widget(registrationForm.firstName, { attr: { placeholder: 'first Name' }, label: false }) }}</div>
        <div>{{ form_widget(registrationForm.lastName, { attr: { placeholder: 'Last Name' }, label: false }) }}</div>
        <div class="register-widget">
          <div>{{ form_widget(registrationForm.email, { attr: { placeholder: 'Your Email' }, label: false }) }}</div>
          <div>{{ form_widget(registrationForm.city, { attr: { placeholder: 'City' }, label: false }) }}</div>
        </div>
        <div class="register-widget">
          <div>{{ form_row(registrationForm.linkedin, { attr: { placeholder: 'Your Linkedin link' }, label: false }) }}</div>
          <div>{{ form_row(registrationForm.github, { attr: { placeholder: 'Your Github link' }, label: false }) }}</div>
        </div>
      <div class="session">Session start ?</div>
      <div>{{ form_widget(registrationForm.sessionSD) }}</div>
      <div class="session">session End ?</div>
      <div>{{ form_widget(registrationForm.sessionED) }}</div>
      <div>{{ form_widget(registrationForm.plainPassword, { label: false }) }}</div>
      <div id="show-terms" onclick="toggle_div_fun('terms')">Click to View the Terms of Use</div>
      <div class="register-footer">
      <div id="terms">
        {{ include('registration/_terms.html.twig') }}
        <div id="agree-terms" >{{ form_row(registrationForm.agreeTerms ) }}</div>
      <div>
        <button type="submit" class="btn">Register</button>
      </div>
      </div>
      <div>
    </div>
  </div>
    {{ form_end(registrationForm) }}
  
{% endblock %}
