    <a class="sender" href="{{path('app_profile',{user: notif.sender.id})}}">
	<div class="author-pic">
		<img src="{{ asset('uploads/userPic/'~ notif.sender.image)}}" alt="sender">
	</div>	
		<div><strong>{{notif.sender}}</strong></div>
	</a>
    {% if notif.type == 'like' %}
        <div class="notification"> 
			<p>liked your </p>
		 	<a href="{{path('app_post_show',{post:notif.link})}}"><strong>post</strong></a> 
		</div>
    {% endif %} 
	{% if notif.type == 'comment' %}
		<div class="notification">
			<p> commented your </p>
			<a href="{{path('app_post_show',{post:notif.link})}}"><strong>post</strong></a>
		</div>		
	{% endif %}
	{% if notif.type == 'follow' %}
		<div class="notification"><p> follow you</p><a href="{{path('app_profile',{user:notif.sender})}}"></a></div>
	{% endif %}
	<div style="margin-left:auto"><a href="{{path('app_notification_read',{notif:notif.id})}}"><span class="material-icons">colorize</span></a></div>