{% extends 'base.html.twig' %}
{% block title %}Notifications {% endblock %}
{% block body %}
<div class="home-main">
	<div class="side-left">
		{{ include('home/_side.html.twig') }}
	</div>
	 
		<main >
		{% if notifications %}
	 {% for notif in notifications %}
     <div class="notifications">
	 
    <a class="sender" href="{{path('app_profile',{user: notif.sender.id})}}"><div class="author-pic">
	<img src="{{ asset('uploads/userPic/'~ notif.sender.image)}}" alt='sender of notification'></div>
    
		<div>{{notif.sender}}</div></a>
    {% if notif.type == 'like' %}
        <div> liked your <a href="#">post</a> </div>
     
    {% endif %}
	{% if notif.type == 'comment' %}
<div> commented your <a href="#">post</a></div>		
	{% endif %}
	{% if notif.type == 'follow' %}
		<div> follow you</div>
	{% endif %}

	 </div>
     {% endfor %}
		{% else %}
		<p> not  notifications</p>
			
		{% endif %}
		</main>
	 
			<div class="side-right">
				{{ include("home/_side_right.html.twig") }}
			</div>
<div>
{% endblock %}
