{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!
{% endblock %}

{% block body %}
	<div class="side_left">
		{{ include('home/_side.html.twig') }}
	</div>
	<main class="main_chat">
		<div class="main_container">
				<div class="message_container">
			{% for message in discussion %}
					{% if app.user == message.sender %}
						<div class="my_message">
							<p>{{ message.text }}</p>
						</div>
					{% else %}
						<div class="message_author">
							<div class="author_pic">
								<a href="{{ path('app_profile', {user: message.sender.id}) }}">
									<img src="{{ asset('uploads/userPic/' ~ message.sender.image) }}" alt="user pic"/>
								</a>
							</div>
							<p>{{ message.text }}</p>
						</div>
					{% endif %}
				{% endfor %}
				<div class="form_container">
					{% if form %}
						{{ form_start(form) }}
						<div class="input-container">
							{{ form_widget(form.text) }}
							{{ form_widget(form.send) }}
						</div>
						{{ form_end(form) }}
					{% endif %}
				</div>
			</div>
			<div class="side_feed">
				{{ include('home/_side_right.html.twig') }}
			</div>
		</div>
	</main>
{% endblock %}
