{% extends 'base.html.twig' %}
{% block title %}Hello MessageController!{% endblock %}
{% block body %}
 {% if app.user.darkMode == 1 %}
        <script>document.body.classList.add("darkmode");</script>
    {% endif %}
<div class="home-main">
	<div class="side-left">
		{{ include('home/_side.html.twig') }}
	</div>
	 
		<main class="main-chat">
			<div class="message-container">
			{# si il y a une ancienne discussion #}
			{% if discussion %}
			{% for message in discussion %}
			{# pour spérarer les messages reçus et les messages envoyées #}
					{% if app.user == message.sender %}
						<div class="my-message">
							<p>{{ message.text }}</p>
						</div>
					{% else %}
						<div class="message-author">
						{# on affiche la photo de l'autre utilisateur #}
							<div class="author-pic">
								<a href="{{ path('app_profile', {user: message.sender.id}) }}">
									<img  class="small-image" src="{{ asset('uploads/userPic/' ~ message.sender.image) }}" alt="user pic"/>
								</a>
							</div>
							<p>{{ message.text }}</p>
						</div>
					{% endif %}
			{% endfor %}
			{% endif %}{#fin discussion#}
			</div>
			{#formulaire d'enovie du message#}
			<div class="form-container">
					{% if form %}
						{{ form_start(form) }}
						<div class="input-container">
							{{ form_widget(form.text) }}
							{{ form_widget(form.send) }}{#button send#}
						</div>
						{{ form_end(form) }}
					{% endif %}				 
			</div>
		</main>
	 
			<div class="side-right">
				{{ include("home/_side_right.html.twig") }}
			</div>
<div>
{% endblock %}
